html {
  box-sizing: border-box;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 70px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}

h1.h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

/* navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  overflow: hidden;
  background-color:black;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navbar .nav-right {
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
}

li a:hover {
  background-color: white;
  color: #5361FF;
}

/* .active {
    color:  lightblue;
    padding-bottom: 8px;
    border-bottom-style: solid ;
    border-bottom-width: 2px;
    width: fit-content;
    font-weight: 550;
  } */

@media screen and (max-width: 600px) {
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-right: 5px;
        overflow: hidden;
        background-color: #5361FF;
        top: 0;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 12px 14px;
        font-size: 13px;
        text-decoration: none;
        font-weight: 300;
      }

 }



/* Home   */
header {
  /*background:#5361FF;*/
  /*color: #f7fff7;*/
  background-image: url("https://img.freepik.com/free-vector/bokeh-bubbles-sun-flash-blue-background_1182-1760.jpg?size=626&ext=jpg&ga=GA1.2.1598361666.1610668800");
  background-repeat: no-repeat;
  background-size: cover;
   color: black;
  text-align: center;
  /*background-image: url("https://img5.goodfon.com/wallpaper/nbig/d/10/fon-derevo-doski-vintage-wood-texture-blue-background-1.jpg");*/
 /* background-image: url("https://media.istockphoto.com/vectors/abstract-lines-pattern-technology-on-red-gradients-background-vector-id959109854?k=6&m=959109854&s=612x612&w=0&h=vCuEEP7gQXnSI00jGpopvLHf9tOPxo2E6ODnS0TWho4=");
  background-repeat: no-repeat;
background-size: cover;*/
}

#home > .content-wrap > p {
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  #home > .content-wrap > p {
    font-size: 15px;

  }

  #home > .content-wrap > h2 {
    font-size: 24px;
    text-align: center;
  }
}

/* about ME   */
.about-me {
background: hsla(14, 93%, 53%, 1);

background: linear-gradient(90deg, hsla(14, 93%, 53%, 1) 0%, hsla(30, 84%, 58%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(14, 93%, 53%, 1) 0%, hsla(30, 84%, 58%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(14, 93%, 53%, 1) 0%, hsla(30, 84%, 58%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F64C18", endColorstr="#EE9539", GradientType=1 );
  /*background: #ffffff;*/
  /*background: hsla(186, 33%, 94%, 1);

background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
*/  overflow: hidden;
   font-family: monospace;
   color: white;
}
.about-me h2{
   text-align: center;
   text-underline-position: under;
   text-decoration: underline;
   /*border-bottom: 1px solid white;*/
   /*width: fit-content;*/
}

.about-me img {
  width: 250px;
  height: 250px;
  /* border: 4px solid black; */
  float: left;
}

.about-me p {
  float: left;
  font-size: 18px;
   font-family: monospace;
  /* margin: 30px; */
}

@media screen and (max-width: 600px) {
    .about-me h2 {
        /* float: left; */
        font-size: 30px;
        text-align: center;
      }

      .about-me p {
        float: left;
        font-size: 16px;
        /* margin: 30px; */
      }
      
  .about-me img {
    width: 150px;
    height: 150px;
    margin-left: 70px;
    /*margin-right: 40px;*/
    /* border: 4px solid black; */
  }
}

/* skills */
.skills {
  background: #008080;
  color: white;
  background-image: url("https://scalar.usc.edu/works/english-110-portfolio-/media/591811718.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.skill-item p {
  font-size: 18px;
  font-weight: 200;
}

.container {
  background-color: lightgrey;
  width: 60%;
  border-radius: 15px;


}


.skill {
  background-color: rgb(116, 194, 92);
  color: white;
  padding: 0.01%;
  text-align: right;
  font-size: 15px;
  border-radius: 15px;
}

.skills h2 {
        text-align: center;
        text-underline-position: under;
   text-decoration: underline;
      }

.html,
.android,
.java {
  width: 80%;
}

.python {
  width: 70%;
}

.mysql {
  width: 60%;
}

@media screen and (max-width: 600px) {
    .skills h2 {
        /* float: left; */
        font-size: 30px;
        text-align: center;
      }

    .skill-item p{
        font-size: 16px;
    }
}


/* certifications */
.certification {
  background-color: #ffe66d;
  background: hsla(46, 95%, 56%, 1);

background: linear-gradient(90deg, hsla(46, 95%, 56%, 1) 0%, hsla(350, 97%, 65%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(46, 95%, 56%, 1) 0%, hsla(350, 97%, 65%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(46, 95%, 56%, 1) 0%, hsla(350, 97%, 65%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9C823", endColorstr="#FC506E", GradientType=1 );
}
.certification h2{
  text-align: center;
  text-underline-position: under;
   text-decoration: underline;
  color: white;
}
.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 10px;
  /*overflow: hidden;*/
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 22%;
  /*border: 1px solid red;*/
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  height: 370px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
   .certification h2{
       font-size: 30px;
       text-align: center;
       color:white;
   } 
  .column {
    width: 100%;
  }
}

#certifications .column{
height:350px;

}
/* projects */
/* .projects{
    background: #FFE66D ;
}

.project-item {
    overflow: hidden;
  }
  .project-item img {
    float: left;
    width: 150px;
    height: 150px;
  }
  .project-item h2 {
    margin-top: 0;
  }

  .project-item p{
      float: left;
      margin: 20px;
  } */

/* footer */
  #contact h2{
        text-align: center;
        text-underline-position: under;
   text-decoration: underline;
    }

footer {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_QGXtTUJHaTk20jjVzm9se8UjBPozFXekdQ&usqp=CAU");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa {
  padding: 5px;
  color: orange;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  color: orange;
  opacity: 0.7;
}

.fa-linkedin {
  color: white;
  margin-left: 350px;
}

.fa-whatsapp {
  color: white;
}

.fa-instagram {
  color: white;
}

/*.box-wrapper {
  height: 40vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
}*/

#box {
  padding: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
#box1,
#box2,
#box3 {
  flex-grow: 1;
  margin: 20px;
}

.material-icons {
  color: orange;
}

#box > #box1,
#box2,
#box3 > h3 {
  text-align: center;
}

#box > #box1,
#box2,
#box3 > p {
  text-align: center;
}
@media screen and (max-width: 900px) {
    .fa-linkedin {
        margin-left: 250px;
        color: white;
      }
    
      #box3 > .material-icons{
        margin-right: 10px;
      }
  }
@media screen and (max-width: 600px) {
    #contact h2{
        font-size: 30px;
        text-align: center;
    }

  .fa {
    padding: 2px;
    color: orange;
    text-align: center;
    text-decoration: none;
     margin: 5px 2px; 
  }

  .fa-linkedin {
    font-size: 20px;
    margin-left: 120px;
    color: white;
  }
  .fa-whatsapp {
    color: white;
  }

  .fa-instagram {
    color: white;
  }

  .box-wrapper {
    height: 120vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
  }

  #box {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  #box1,#box2,#box3{
    margin-left: 100px;
  }
  #box1 p{
    margin-left: 0px;
  }
  #box2 p{
    margin-left: 5px;
  }
}

#box1{
  float: left;
  display: left;
}


.typewriter {
  color:black;
  font-family: monospace;
  overflow: hidden;  /*Ensures the content is not revealed until the animation 
  border-right: 0 solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100%] }
}

/* The typewriter cursor effect */
/*@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}*/